DATABASE_URL=your db url

AUTH_SECRET="this-is-very-secret"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your cloud name"
NEXT_PUBLIC_CLOUDINARY_API_KEY="Your api key"
CLOUDINARY_API_SECRET="api secret"

NEXT_PUBLIC_PUSHER_APP_KEY="your pusher app key"
PUSHER_APP_ID="Your app id"
PUSHER_SECRET="Your pusher secret"

RESEND_API_KEY="Your Resend Api Key"

GITHUB_CLIENT_ID="your github client id"
GITHUB_CLIENT_SECRET="your github secret"

GOOGLE_CLIENT_ID="your google-client id"
GOOGLE_CLIENT_SECRET="your google-client secret"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"
